:root {
    --accent: #007acc;
    --bg: linear-gradient(135deg, #ffd6d6, #ffdede);
    --text: #000000;
    --card-bg: #f4f4f4;
    --header-bg: #f0f0f0;
    --color: #000000;
    --link-color: #000;
    --black: 15, 18, 25;
    --gray-light: 229, 233, 240;
    --box-shadow:
        0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
        0 16px 32px rgba(var(--gray), 33%);
}

html.dark {
    --accent: #ff77b3;
    --bg: linear-gradient(135deg, #121212, #1e1e1e);
    --text: #ffffff;
    --card-bg: #131313;
    --header-bg: #1b1b1b;
    --color: #ffffff;
}

body {
    font-family: "Raleway", monospace;
    margin: 0;
    padding: 0;
    text-align: left;
    background: var(--bg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text);
    font-size: 20px;
    line-height: 1.7;
    transition:
        background 0.3s ease,
        color 0.3s ease;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

main {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem 0;
    color: var(--color);
    line-height: 1.2;
}

h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

strong,
b {
    font-weight: 700;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--accent);
    text-decoration: underline;
}

p {
    margin-bottom: 1em;
}

.prose p {
    margin-bottom: 2em;
}

textarea,
input {
    width: 100%;
    font-size: 16px;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

code {
    padding: 2px 5px;
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 2px;
}

pre {
    padding: 1.5em;
    border-radius: 8px;
    background-color: rgba(200, 200, 200, 0.05);
    overflow-x: auto;
}

pre > code {
    all: unset;
}

blockquote {
    border-left: 4px solid var(--accent);
    padding-left: 1rem;
    margin: 0;
    font-size: 1.333em;
}

hr {
    border: none;
    border-top: 1px solid rgba(200, 200, 200, 0.2);
}

@media (max-width: 720px) {
    body {
        font-size: 18px;
    }

    main {
        padding: 1em;
    }
}

.sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}
